@CHARSET "UTF-8";
#form{
    color: #5488a9;
    width: 40vw;
    margin: 0 auto;
    background-color: #324a5e;
    border-radius: 10px;

}
#form li{
    list-style-type: none;
    margin-top: 7px;
}
#form ul{
cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#form input{
	font-size: 25px;
    margin: 10px 5px;
    border-radius: 4px;
    border: none;
    padding-left: 2px;
}
#form input:focus{
    border: solid 1px #5488a9;


}
#form input {outline:none;}
#form .form_head{
    margin-top: 15vh;
}

#form .active{
    border-radius: 4px;
    border: solid 1px #5488a9;
    padding: 0px 5px;
    background-color: white;
}


.form_login,.form_registration{

    display: flex;
    flex-direction: column;
}


#errorLoginForm{
	
	color:red;
	text-align: center;
    display: none;
}