@CHARSET "UTF-8";

#form{
	font-size:2em;
    display: block;
    width: 40vw;
    margin: 0 auto;
    background-color: #2b3b4e;
    border-radius: 10px;

}
#form li{
    list-style-type: none;
    cursor: pointer
       
}
#form ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#form input{
	padding: 0px 10px;
	border-radius:10px;
	font-size:1em;
    margin: 10px 5px;
}


#form .form_head{
    margin-top: 15vh;
}

#form .active{
    background-color: white;
}


.form_login,.form_registration{

    display: flex;
    flex-direction: column;
}