.userInfo{

  margin-top: 10px;



}


.user_name{
	cursor:pointer;
}

.mainInfo img{
    height: 80px;
    width: 80px;
}


.userInfo .mainInfo span{
    margin-top: 30px;
    padding: 0px 10px;
}

.userInfo .mainInfo{
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.allUsersSpans{
    wrap-option: wrap;
    display: flex;
    flex-direction: column;
}
.allUsersSpans span{
    margin-top: 10px;
}
.userInfo .adminButton{

    border: none;
    display: none;
    width: 100px;
    margin: 10px auto;
    background-color: #ff7058;
}



.userExit{
    height: 15px;
    width: 15px;
    display: block;
    margin: 0 0px;

}